version: '2.1'
services:
  config:
    image: chanhlv93/m-config-service:v1.0
    restart: always
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  registry:
    image: chanhlv93/m-discovery-service:v1.0
    restart: always
    depends_on:
      config:
        condition: service_healthy
    ports:
      - 8061:8061
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  gateway:
    image: chanhlv93/m-gateway-service:v1.0
    restart: always
    depends_on:
      config:
        condition: service_healthy
    ports:
      - 8060:8060
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  proxy:
    image: chanhlv93/m-proxy-service:v1.0
    restart: always
    depends_on:
      config:
        condition: service_healthy
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  organization:
    image: chanhlv93/m-organization-service:v1.0
    restart: always
    depends_on:
      config:
        condition: service_healthy
    ports:
      - 8092:8092
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  department:
    image: chanhlv93/m-department-service:v1.0
    restart: always
    depends_on:
      config:
        condition: service_healthy
    ports:
      - 8091:8091
    logging:
      options:
        max-size: "10m"
        max-file: "10"

  employee:
    image: chanhlv93/m-employee-service:v1.0
    restart: always
    depends_on:
      config:
        condition: service_healthy
    ports:
      - 8090:8090
    logging:
      options:
        max-size: "10m"
        max-file: "10"